.latest-container {
  width: 100%;
  padding: 30px 40px;
}

.latest-title {
  color: #d72b2b;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

.product-card {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  border: 1px solid #e7e7e7;
  height: 380px; /* same height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
}

.image-box {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  max-width: 120px;
  height: auto;
  object-fit: contain;
}

.product-title {
  font-size: 14px;
  font-weight: bold;
  min-height: 50px;
}

.stock {
  color: #d72b2b;
  font-weight: 600;
  margin-top: -5px;
}

.price-text {
  margin: 5px 0;
  font-weight: bold;
  color: #d72b2b;
}

.add-btn {
  background: #d72b2b;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.add-btn:hover {
  background: #b82020;
}

.badge {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  background: #870000;
  color: white;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
}
